* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgb(220, 220, 198);
}

.header{
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(31, 6, 54);
  color: azure;
}
header h1{
  font-size: 42px;
  display: inline-block;
}

header nav{
  padding: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}
header nav strong a{
  display: inline-block;
  margin-left: 25px;
}
.hero-banner{
  height: 400px;
  width: 100%;
  margin-bottom: 25px;
  /* background-image: url(../images/02-hero-bg.jpg); */
  background-size: cover;
  background-position:center;
  background-color: rgb(226, 219, 233);
}
section div h2{
  /* padding: 10px; */
  padding-left: 10px;
}
#bio-image{
  /* padding: 10px; */
  padding-left: 10px;
  margin-top: 20px;
}
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
